.header-rect {
    position: sticky;
    height: 14vh;
    background-color: var(--navyBlue);
}

.site-icon {
    /* size */
    height: 13vh;
    width: 13vh;

    /* position */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8.5vw;

}

.site-icon-img {
    height: 100%;
    width: 100%;
}

.icon-scribble {
    position: absolute;
    font-family: 'Mynerve';
    font-size: 25px;
    left: 40vw;
    color: var(--snow);
}